<!DOCTYPE HTML>
<html>

<head>
    <title>Web Monitoreo - La Caimanera</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
    <script src="{{ url_for('static', filename='assets/Chart.js') }}"></script>
</head>

<body class="is-preload">
    <div id="content">
        <div class="inner">
            
            {% block content %}
            {% endblock %}

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">

        <!-- Logo -->
        <h1 id="logo"><a href="/">Caimanera Scan</a></h1>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="{{ url_for('home') }}">Inicio</a></li>
                <li><a href="{{ url_for('reportes') }}">Reportes</a></li>
                <li><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
                <li><a href="{{ url_for('login') }}">Iniciar Sesion</a></li>
            </ul>
        </nav>



    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>


</body>

</html>